.elfsight-instagram-widget {
  display: flex;
  justify-content: center;
}

.insta__title {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  //margin: 3rem 0 4rem;
}
