@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.elfsight-instagram-widget {
  display: flex;
  justify-content: center;
}

.insta__title {
  font-family: $secondary-header-font;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 2rem 2rem 0 2rem;
  color: $dark-brown;
  text-align: center;
}
