@use "./variables" as *;

@font-face {
  font-family: $header-font-fontface;
  src: url("/src/assets/fonts/LoveYaLikeASister/LoveYaLikeASister-Regular.ttf")
    format("Truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $primary-font-fontface;
  src: url("/src/assets/fonts/Noto/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $fancy-font-fontface;
  src: url("/src/assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $secondary-font-fontface;
  src: url("/src/assets/fonts/Grandstander/Grandstander-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
