// Breakpoints variables
$breakpoint-mobile: 23.5rem;
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//Colors variables
//$clay-pink: #f8f4f8;
$clay-pink: white;
$yellow-white: #fefefa;
//$cream: #f1f0d0;
//$cream: #fffdd0; //yellow cream
$cream: #f5f4cf; //grey cream
//$cream: #d2b48c; //yellow cream
$baby-blue: #e1eef2;
$light-blue: #d8ebf2;
$mid-blue: #c3e0ea;
$hot-pink: #f06292;
$gum-pink: #f2c2c2;
$white: #fff;
$light-mint: #e4f7ec;
$baby-grey: #0c1931;
$sunshine: #fac532;
$black: #000000;
$mango-yellow: #f78547;
$mustard-yellow: #ffdb58;
$dark-brown: #26110d;

//font weight
$primary-font: "Rubik", Arial, Helvetica, sans-serif;
$primary-font-fontface: "Rubik";
$header-font: "Forum", Arial, Helvetica, sans-serif;
$header-font-fontface: "Forum";
$fancy-font: "New Day", Arial, Helvetica, sans-serif;
$fancy-font-fontface: "New Day";
$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;

//Tablet and Desktop
$h1-text-size: 2rem;
$h1-line-height: 2.5rem;

$h2-text-size: 1.5rem;
$h2-line-height: 2rem;

$h3-text-size: 0.875rem;
$h3-line-height: 1.375rem;

$h4-text-size: 0.75rem;
$h4-line-height: 1.125rem;

$p1-text-size: 1rem;
$p1-line-height: 1.75rem;

$p2-text-size: 0.875rem;
$p2-line-height: 1.375rem;

$p3-text-size: 0.75rem;
$p3-line-height: 1.125rem;

//Mobile
$m-h1-text-size: 1.75rem;
$m-h1-line-height: 2.25rem;

$m-h2-text-size: 1.25rem;
$m-h2-line-height: 1.75rem;

$m-h3-text-size: 0.8125rem;
$m-h3-line-height: 1.25rem;

$m-h4-text-size: 0.6875rem;
$m-h4-line-height: 1rem;

$m-p1-text-size: 0.9375rem;
$m-p1-line-height: 1.625rem;

$m-p2-text-size: 0.8125rem;
$m-p2-line-height: 1.25rem;

$m-p3-text-size: 0.6875rem;
$m-p3-line-height: 1rem;
