@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 9rem 3rem 4rem;
  align-items: center;
  text-align: center;
  background-color: $cream;
  color: $black;
  font-size: 1.25rem;
  line-height: 3rem;

  @include tablet {
    padding: 9rem 12rem 1rem;
  }

  &__contact {
    padding-top: 3rem;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $sunshine;
    }
  }
}
