@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.about-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  background-color: $cream;
  color: $baby-grey;

  &__image {
    width: 100%;

    @include tablet {
      width: 30%;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 2.1rem;
    padding-top: 4rem;
    text-align: center;

    @include tablet {
      text-align: left;
      padding-top: 0;
      padding-left: 4rem;
    }
  }
  &__description {
    padding-bottom: 1.5rem;
  }
}
