@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.about-page {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;

  &__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background-color: $cream;
    color: $baby-grey;

    @include tablet {
    }

    @include desktop {
      flex-direction: row;
      align-items: center;
      padding: 4rem;
    }
  }

  &__image {
    width: 100%;

    @include tablet {
      width: 30%;
    }
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding-top: 4rem;
    text-align: center;

    @include tablet {
      text-align: justify;
      padding-top: 0;
      padding-left: 4rem;
      text-align: justify;
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
  &__description {
    padding-bottom: 1.5rem;
  }
}
