@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.gallery {
  &__comp {
    display: none;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $cream;
    margin-bottom: 4rem;

    &__title {
      text-align: center;
      font-size: 2rem;
      margin: 3rem 0 4rem;
    }

    // Grid Layout for Tablet and Desktop
    &__grid {
      display: grid; /* Make sure it uses grid layout */
      grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
      gap: 2rem; /* Add space between items */
      justify-items: center;
      grid-template-rows: auto; /* Rows will automatically adjust to content */

      /* Tablet view adjustments (for smaller screens) */
      @include tablet {
        grid-template-columns: repeat(
          3,
          1fr
        ); /* Ensure 3 items per row for tablet */
      }

      /* Desktop view adjustments (larger screens) */
      @include desktop {
        grid-template-columns: repeat(
          3,
          1fr
        ); /* Ensure 3 items per row for desktop */
        //padding: 1rem;
      }
    }

    // Each Item styling
    &__item {
      width: 100%; /* Ensure each item takes full width within the grid cell */
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s ease;
      max-width: 30rem; /* Keep items consistent in size */
      margin-bottom: 2rem;
    }

    &__image {
      width: 25rem;
      height: 14rem;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      transition: transform 0.3s ease;
      position: relative;
      filter: grayscale(100%);

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }

      &:hover {
        filter: grayscale(0);
      }
    }

    &__text {
      padding: 1rem;
      font-size: 1rem;
      line-height: 2rem;
      color: $dark-brown;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__arrow {
      background: none;
      border: none;
      font-size: 3rem;
      cursor: pointer;
      padding: 1rem;
      z-index: 2;
      color: $sunshine;
      position: relative;
      bottom: 5rem;
      visibility: hidden;

      &--left {
        left: 10px;
      }

      &--right {
        right: 10px;
      }

      &:hover {
        color: $baby-grey;
      }
    }

    &__arrow--visible {
      visibility: visible;
    }
  }

  // Mobile View Adjustments (single column)
  @include mobile {
    &__grid {
      //grid-template-columns: 1fr; /* Single column for mobile */
      gap: 1rem; /* Adjust gap for mobile */
    }

    &__item {
      width: 100%; /* Each item will take up full width */
    }
  }
}
